// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sort {
  display:flex;
  justify-content:space-around;
  text-align: center;
  padding: 4 px;
}

.sort h1{
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(200,200,200);
  padding: 8px;
  background-color:aliceblue;
  color: #702632
}
